<app-header [title]="title" [topButtons]="topButtons"></app-header>

<form [formGroup]="form">
  <formly-form [form]="form" [fields]="fields" [model]="challenge"></formly-form>

  <button type="submit" mat-raised-button
    class="button pink"
    (click)="saveChallenge()"
    [disabled]="!form.valid">
  SAVE</button>
</form>

<app-challenge-location [challenge]="challenge" [location]="location" (saveLocation)="saveChallenge()"></app-challenge-location>

<div *ngIf="challengeId">
  <app-header [title]="'Levels for this Challenge'" [topButtons]="levelsButtons"></app-header>
  <app-table [data]="challenge?.challengeLevels" [table]="levelsTable"
    selectable="true" (selectRow)="openLevel($event)"></app-table>
</div>
