<div class="challenge-details" *ngIf="challenge">
  <div class="challenge-header">
    <h3 [class]="Colour[challenge.category]">
      {{ challenge.title }}
    </h3>
  </div>
  <h4 id="top-element">{{ Categories[challenge.category] }}</h4>
  <h4>Duration: </h4>
  <p>{{ challenge.description }}</p>

  <app-form-field *ngIf="levels.length > 1" [class]="Colour[challenge.category]">
    <mat-select [value]="selectedLevel.difficulty" (selectionChange)="levelChange($event)" aria-label="Level selector">
      <mat-option *ngFor="let option of levelsDropdown" [value]="option">
        {{ Levels[option] }}
      </mat-option>
    </mat-select>
    <mat-icon class="arrow">expand_more</mat-icon>
  </app-form-field>

  <ng-container *ngIf="selectedLevel">
    <h3 [class]="Colour[challenge.category]">Instructions</h3>
    <p>{{ selectedLevel.instructions }}</p>

      <app-button
        *ngIf="selectedLevel.hint"
        color="pink"
        (click)="getHint()"
      >
        Get Hint
      </app-button>
  </ng-container>

  <app-button
    [category]="challenge.category"
    (click)="onAnswer()"
    style="position: relative; top: 10px;"
    aria-label="Answer here"
  >
    Enter Answer
  </app-button>
</div>
