@use 'src/app/styles/variables' as *;

:host {
    display: flex;
    // align-items: center;
}

a {
    text-decoration: none;
}

@mixin coloured-content($color) {
    color: $color;
    padding: 3px;
}

.green {
    @include coloured-content($primary-green)
}

.blue {
    @include coloured-content($primary-blue)
}

.orange {
    @include coloured-content($primary-orange)
}

.purple {
    @include coloured-content($primary-purple)
}