@use 'src/app/variables' as *;

a {
    text-decoration: none;
}

@mixin coloured-content($color) {
    color: $color;
    position: absolute;
    padding: 3px;
}

a.green {
    @include coloured-content($primary-green)
}

a.blue {
    @include coloured-content($primary-blue)
}

a.orange {
    @include coloured-content($primary-orange)
}

a.purple {
    @include coloured-content($primary-purple)
}

span.green {
    @include coloured-content($primary-green)
}

span.blue {
    @include coloured-content($primary-blue)
}

span.orange {
    @include coloured-content($primary-orange)
}

span.purple {
    @include coloured-content($primary-purple)
}