<div class="challenge-details" *ngIf="challenge">
  <div class="challenge-header">
    <h3 [class]="Colour[challenge.category]">
      {{ challenge.title }}
    </h3>
  </div>

  <h4 class="top-element">{{ Categories[challenge.category] }}</h4>
  <p>{{ challenge.description }}</p>

  <div *ngIf="levels.length > 1" class="levels-wrapper">
    <mat-select [value]="selectedLevel.difficulty" [class]="Colour[challenge.category]"
      (selectionChange)="levelChange($event)" aria-label="Level selector">
      <mat-option *ngFor="let option of levels" [value]="option.difficulty">
        {{ Levels[option.difficulty] }}
      </mat-option>
    </mat-select>
    <mat-icon class="arrow">expand_more</mat-icon>
  </div>
<!-- 
  <ng-container *ngIf="selectedLevel">
    <h3 [class]="Colour[challenge.category]">Instructions</h3>
    <p>{{ selectedLevel.instructions }}</p>

      <app-button
        *ngIf="selectedLevel.hint"
        color="pink"
        (click)="getHint()"
      >
        Get Hint
      </app-button>
  </ng-container>

  <app-button
    [category]="challenge.category"
    (click)="onAnswer()"
    style="position: relative; top: 10px;"
    aria-label="Answer here"
  >
    Enter Answer
  </app-button> -->
</div>
