@use 'src/app/variables' as *;

.challenge-details {
  padding: 20px;
  margin: 0 auto;
  max-width: 768px;
}

.challenge-header {
  background-color: white;
  border-bottom: solid;
  border-color: tint(10%, $primary-black);
  box-sizing: border-box;
  padding: 22px 20px 10px;
  position: fixed;
  top: 56px;
  left: 0;
  width: 100%;
}

#top-element {
  margin-top: 55px;
}

.arrow {
  position: relative;
  float: right;
  top: -25px;
  font-size: 2rem;
}

app-button {
  display: block;
  padding: 0;
  margin-bottom: 1rem;
}

@media only screen and (min-width: 768px) {
  .challenge-header {
    text-align: center;
  }
}
