@use 'src/app/styles/variables' as *;

#map {
  height: 100%;
  width: 100%;
}

.marker-info {
  display: flex;
  flex-direction: column;
  margin: 8px 8px 18px 8px;
}

.info-title {
  & div:first-child {
    padding-right: 5px;
  }
}

button {
  padding: 8px 30px 4px 30px;
  color: #fff;
  margin-top: 5px;
  width: 100%;
  &.green {
    background-color: $primary-green;
  }
  &.blue {
    background-color: $primary-blue;
  }
  &.orange {
    background-color: $primary-orange;
  }
  &.purple {
    background-color: $primary-purple;
  }

  mat-icon {
    margin-left: 5px;
    margin-bottom: 7px;

    ::ng-deep #Map-View {
      fill: #ffffff;
    }
  }

  @media screen and (max-width: 350px) {
    padding: 8px 25px;
    mat-icon {
      display: none;
    }
  }
}