<app-challenge-filter></app-challenge-filter>

<span class="challenge-map">
  <google-map
    [center]="center"
    [zoom]="zoom"
    height="100%"
    width="100%"
    [options]="options"
    (tilesloaded)="tilesLoaded = true"
    >
    <map-marker
      *ngFor="let location of locations"
      #markerElem
      [position]="location.position"
      [title]="location.name"
      [options]="getMarkerOptions(location)"
      (mapClick)="click(markerElem, location)"
      >
    </map-marker>

    <map-marker [position]="center" *ngIf="locationAccess" [options]="userMarkerPoint()">
    </map-marker>

    <map-info-window>
      <div class="marker-info" *ngIf="location">
        <h3>{{ location.name }}</h3>
        <ng-container *ngFor="let challenge of location.locationChallenges">
          <button mat-flat-button class="{{Colour[challenge.challengeCategory]}}"
            (click)="openChallenge(location, challenge)">
            View Challenge <mat-icon>{{Icon[challenge.challengeCategory]}}</mat-icon>
          </button>
        </ng-container>
      </div>
    </map-info-window>
  </google-map>
</span>

<div class="bouncer centered" *ngIf="!tilesLoaded || !locations?.length"></div>
