<div class="image-container">
    <!--Image will go here-->
    <mat-icon class="profile-image">person</mat-icon>
    <h4 class="blue">Edit Profile Image</h4>
</div>
<form>
    <div class="profile-container">
        <h4>First Name:</h4><input type="text">
        <h4>Last Name:</h4><input type="text">
        <h4>Email:</h4><input type="email" disabled>
        <h4>Region:</h4><input type="text" name="region">
        <h4>Home Town:</h4><input type="text" name="homeTown">
    </div>

    <h4 class="blue terms">Terms of Use and Privacy Policy</h4>

    <app-button color="pink">Update Profile</app-button>
</form>
