@use 'src/app/styles/variables' as *;

.image-container label {
  display: flex;
  align-items: center;
  align-content: center;
  justify-content: center;
  width: 100%;
  height: 40px;
  margin-bottom: 15px;
}

.blue {
  color: $primary-blue;
  margin-left: 10px
}

app-profile-picture {
    margin-right: 20px;
}

.profile-image {
    font-size: 40px;
    padding-right: 35px;
    padding-bottom: 20px;
}

form {
    padding: 20px;
    margin: 0 auto;
    max-width: 768px;
}

.terms {
  color: $primary-blue;
  text-align: center;
}

.blue {
  color: $primary-blue;
}

input:disabled {
  border: 2px solid tint(8%, $primary-black);
  background-color: tint(2%, $primary-black);
  color: tint(50%, $primary-black);
}

.error-message {
  color: $secondary-red;
  padding-bottom: 10px;
}

.title {
  padding: 10px 0px 5px 0px;
}

.profile-fields {
  padding: 20px;
  margin: 0 auto;
  max-width: 768px;
}

.option-group {
  display: flex;
  justify-content:  center;
  align-items: center;
  margin-top: 20px;
  
  .skip {
    color: $secondary-pink;
    margin-bottom: 10px;
  }
}

.profile-pic {
  display: block;
  width: 40px;
  height: 40px;
  overflow: hidden;
  border-radius: 50%;
}

img {
  height: 100%;
}

.file-input {
  display: none;
}

:host ::ng-deep .dropdown-wrapper {
  position: relative;
  margin-bottom: 1rem;

  mat-select {
    box-sizing: border-box;
    background: none;
    border-bottom: 1px solid #333;
    box-shadow: none;
    padding: 0;

    .mat-select-trigger {
      padding: 16px;
    }

    .mat-select-value {
      color: #333;
    }

    .mat-select-placeholder {
      color: #666;
    }
  }

  mat-icon {
    position: absolute;
    top: 16px;
    right: 16px;
  }
}
