<div class="image-container">
  <app-profile-picture *ngIf="photoURL$ | async; else noPhoto" [photoURL]="photoURL$ | async"></app-profile-picture>
  <ng-template #noPhoto>
    <mat-icon class="profile-image">person</mat-icon>
  </ng-template>
  <h4 class="blue">Edit Profile Image</h4>
</div>
<form [formGroup]='profileForm' (ngSubmit)="onSubmit()">
    <input type="text" placeholder="First Name" name="firstName" formControlName="firstName">
    <input type="text" placeholder="Last Name" name="lastName" formControlName="lastName">
    <input type="email" placeholder="Email" formControlName="email">
    <input type="text" placeholder="Region" name="region" formControlName="region">
    <input type="text" placeholder="Home Town" name="homeTown" formControlName="homeTown">

    <h3 *ngIf="!profileForm.valid" class="error-message">Please complete all fields</h3>

    <h4 class="blue terms">Terms of Use and Privacy Policy</h4>

    <app-button color="pink" type="submit" [disabled]="!profileForm.valid">Update Profile</app-button>
</form>
