@use 'src/app/variables' as *;

.image-container {
    padding: 25px 25px 40px 25px;
    border-bottom: solid;
    border-color: tint(20%, $primary-black); 
    display: flex;
}

.blue {
    color: $primary-blue;
}

.profile-image {
    font-size: 50px;
    padding-right: 40px;
}
