<div class="challenge-details">
  <app-challenge-title [category]="challenge.category">{{ challenge.title }}</app-challenge-title>
  <mat-divider></mat-divider>
  <h4>{{ Categories[challenge.category] }}</h4>
  <h4>Duration: </h4>
  <p>{{ challenge.description }}</p>

  <mat-form-field appearance="fill" *ngIf="levels.length > 1">
      <mat-select [(value)]="selectedLevel" 
                  (selectionChange)="getCurrentChallenge(selectedLevel)">
        <mat-option [value]="option" *ngFor="let option of levels">{{ Levels[option] }}</mat-option>
      </mat-select>
  </mat-form-field>

  <app-challenge-title [category]="challenge.category">Instructions</app-challenge-title>
  <p>{{ currentChallenge.instructions }}</p>

  <app-button *ngIf="currentChallenge.hint" 
          (click)="openDialog(challenge.title, selectedLevel, currentChallenge.hint)"
          color="pink">Get Hint
  </app-button>
  <br><br>
  <app-category-button [category]="challenge.category">Enter Answer</app-category-button>
</div>



