@use 'src/app/variables' as *;

.challenge-details {
    padding: 20px;
    position: relative;
}

.challenge-header {
    background-color: white;
    border-bottom: solid;
    border-color: tint(10%, $primary-black);
    margin-left: -20px;
    padding-left: 20px;
    padding-top: 58px;
    position: fixed;
    top: 0px;
    width: 100%;
}

#top-element {
    margin-top: 60px;
}