<app-base-dialog [class]="Colour[data.challenge.category]">
  <h3 [class]="Colour[data.challenge.category]">{{data.challenge.title}}</h3>
  <p>{{ Levels[data.level.difficulty] }}</p>
  <p class="question">
    <b>Q: </b>
    {{ data.level.questionText }}
  </p>

  <ng-container [ngSwitch]="data.level.answerType">

    <span *ngSwitchCase="AnswerType.Multichoice" class="answer-list">
      <button *ngFor="let answer of data.level.possibleAnswers"
        mat-flat-button
        [mat-dialog-close]="answer"
        class="outlined"
        >{{ answer }}</button>
    </span>

    <span *ngSwitchDefault>
      <input placeholder="Type your answer here!" [formControl]="answer" class="answer-input">
      <button mat-flat-button [mat-dialog-close]="answer.value"
        [disabled]="!answer.value"
        [class]="Colour[data.challenge.category]"
        >Submit Answer</button>
    </span>

  </ng-container>

  <p *ngIf="checkingAnswer">
    <!-- @todo: add a spinner here -->
    Checking your answer&hellip;
  </p>
</app-base-dialog>
