.mat-button-toggle-group {
    width: 100%;
    border: none;
    border-radius: 0;
}

.mat-button-toggle {
    color: white;
    width: 100%;
}

.blue.mat-button-toggle {
    background-color: blue;
}

.blue.mat-button-toggle-checked {
    background-color: grey;
}


.green.mat-button-toggle {
    background-color: green;
}

.green.mat-button-toggle-checked {
    background-color: grey;
}

.orange.mat-button-toggle {
    background-color: orange;
}

.orange.mat-button-toggle-checked {
    background-color: grey;
}

.purple.mat-button-toggle {
    background-color: purple;
}

.purple.mat-button-toggle-checked {
    background-color: grey;
}
