<app-card
  *ngFor="let challenge of (challenges | filter:this.filter | sortBy:'distance')"
  [category]="challenge.category"
  (click)="onItemClick(challenge)"
>
  <app-challenge-title [category]="challenge.category">
    <img class="marker-icon" [src]="getMarkerIconForCategory(challenge.category)">
    <span class="distance">{{ challenge.distance | largeDistance }}</span>
    {{challenge.title}}
  </app-challenge-title>
  <h4>{{Categories[challenge.category]}}</h4>
  <p>{{challenge.description | truncate:50}}</p>
</app-card>
