<app-category-dialog [category]="data.challenge.category">
  <app-challenge-title [category]="data.challenge.category">{{data.challenge.title}}</app-challenge-title>
  <h4>{{ Levels[data.level.difficulty] }}</h4>

  <p>
    {{ data.level.questionText }}
  </p>

  <h2>
    Answer
    <span *ngIf="data.level.answerType === AnswerType.Multichoice" class="smaller">- Choose one</span>
  </h2>
  
  <ng-container [ngSwitch]="data.level.answerType">

    <ul *ngSwitchCase="AnswerType.Multichoice" class="answer-list">
      <li *ngFor="let answer of data.level.possibleAnswers">
        <app-button outlined [disabled]="checkingAnswer && answer.answerText !== selectedAnswer"
          (click)="submitAnswer(answer.answerText)">
          {{ answer.answerText }}
        </app-button>
      </li>
    </ul>

    <form *ngSwitchDefault (submit)="$event.preventDefault(); submitAnswer(answerValue)">
      <app-input placeholder="Type answer here" name="answer" [(ngModel)]="answerValue"></app-input>
      <app-category-button>Enter Answer</app-category-button>
    </form>

  </ng-container>

  <p *ngIf="checkingAnswer">Checking your answer&hellip;</p>
</app-category-dialog>
