  <app-dialog [category]="location.category">
    <app-challenge-title [category]="location.category">
      <!-- <span class="distance">{{ locationDistance$ | async | largeDistance }}</span> -->
      {{ location.challengetitle }}
    </app-challenge-title>
    <h4>{{ Categories[location.category] }}</h4>
    <h4>Duration: </h4>
    <p>{{ location.challengedescription }}</p>

    <app-contact-info
      [category]="location.category"
      icon="location_on"
      [label]="location.name"
    ></app-contact-info>
    <br>
    <app-contact-info
      [link]="location.link"
      [category]="location.category"
      icon="language"
      label="View Website"
    ></app-contact-info>
    <br><br>

    <app-button
      mat-dialog-close
      [category]="location.category"
      (click)="scanCode()"
    >
      Scan QR Code
    </app-button>
  </app-dialog>

<!-- Is this needed? -->
<!-- <mat-spinner *ngIf="!(loaded$ | async)"></mat-spinner> -->
