@use 'src/app/variables' as *;

button.mat-flat-button {
    color: white;
    border-radius: 0;
    width: 100%;
    background-color: tint(80%, $primary-black);
    padding: 5px;
    font-weight: bold;
}

button {
    max-width: 768px !important;
    text-align: center;
}

@media only screen and (min-width: 768px) {
    button {
        text-align: center;
    }
}

@mixin coloured-button($color) {
    color: white;
    border-radius: 0;
    width: 100%;
    background-color: $color;
    &.inverted {
        background-color: white;
        color: $color;
    }
}

button.green {
    @include coloured-button($primary-green)
}

button.blue {
    @include coloured-button($primary-blue)
}

button.orange {
    @include coloured-button($primary-orange)
}

button.purple {
    @include coloured-button($primary-purple)
}

button.pink {
    @include coloured-button($secondary-pink)
}

button.outlined {
    background: white;
    color: $primary-black;
    border: 3px solid $primary-black;
    font-size: 1rem;
}
