:host {
  height: 100%;
  display: flex;
  flex-direction: column;
  justify-content: center;
  overflow: hidden;

  background: black;
  color: white;
}

.mat-icon-button[mat-dialog-close] {
  position: fixed;
  top: 0;
  right: 0;
  width: 4rem;
  height: 4rem;
}
