<app-header [title]="title" [topButtons]="topButtons"></app-header>

<form [formGroup]="form">
  <formly-form [form]="form" [fields]="fields" [model]="location"></formly-form>

  <button type="submit" mat-raised-button
    class="button pink"
    (click)="saveLocation()"
    [disabled]="!form.valid">
    SAVE
  </button>
</form>

<div *ngIf="locationId">
  <app-header [title]="'Challenges at this Location'"></app-header>
  <p>Add a new challenge through the <a [routerLink]="['/challenges']">Challenges view</a></p>
  <app-table [data]="challenges" [table]="challengeTable"
    selectable="true" (selectRow)="openChallenge($event)"></app-table>
</div>