<form (submit)="updateProfile(user.id, firstNameValue, lastNameValue, regionValue, homeTownValue)">
    <div class="profile-container">
        <h4>First Name:</h4><input type="text" name='firstName' [(ngModel)]='firstNameValue'>
        <h4>Last Name:</h4><input type="text" name='lastName' [(ngModel)]='lastNameValue'>
        <h4>Email:</h4><input type="email" disabled>
        <h4>Region:</h4><input type="text" name='region' [(ngModel)]='regionValue'>
        <h4>Home Town:</h4><input type="text" name='homeTown' [(ngModel)]='homeTownValue'>
    </div>

    <h4 class="blue terms">Terms of Use and Privacy Policy</h4>

    <app-button color="pink">Update Profile</app-button>
</form>
