<form (submit)="updateProfile(user.id, firstName.value, lastName.value, region.value, town.value)">
    <div class="profile-container">
        <h4>First Name:</h4><input type="text" [value]='user.firstName' #firstName>
        <h4>Last Name:</h4><input type="text" [value]='user.lastName' #lastName>
        <h4>Email:</h4><input type="email" [value]='email' disabled>
        <h4>Region:</h4><input type="text" name="region" [value]='user.region' #region>
        <h4>Home Town:</h4><input type="text" name="homeTown" [value]='user.homeTown' #town>
    </div>

    <h4 class="blue terms">Terms of Use and Privacy Policy</h4>

    <app-button color="pink">Update Profile</app-button>
</form>
