<app-dialog inverted [category]="data.challenge.category">
  <h2>{{ data.challenge.title }}</h2>
  <h3>{{ Levels[data.level.difficulty] }}</h3>

  <div class="message">
    <div class="graphic">
      <!-- Image goes here --> Yay!!!
    </div>
    <div class="text">
      Well done! <br />
      Correct <br />
      Answer!
    </div>
  </div>

  <app-button *ngIf="(auth.isLoggedIn | async); else loginOrRegister" inverted mat-dialog-close [category]="data.challenge.category"
    (click)="nextLevel()">Next level</app-button>

  <ng-template #loginOrRegister>
    <h4>Register or Login to track your progress</h4>
  
    <app-button inverted mat-dialog-close [category]="data.challenge.category" (click)="navigateToRegister()">
      Register
    </app-button>
    <app-button inverted mat-dialog-close [category]="data.challenge.category" (click)="navigateToLogin()">
      Login
    </app-button>
  </ng-template>

  <app-button inverted mat-dialog-close [category]="data.challenge.category" (click)="navigateToHomepage()">Back to home</app-button>
</app-dialog>
