@use 'src/app/variables' as *;

.message {
  margin: 1rem 0 2rem;

  display: flex;
  flex-direction: row;
  justify-content: center;

  @include typeface-sub-heading;
  font-size: 2em;

  .text {
    padding: 0 1rem;
  }
}

app-category-button {
  display: block;
  margin-top: 1rem;
}
