<app-category-dialog inverted [category]="data.challenge.category">
  <h2>{{ data.challenge.title }}</h2>
  <h3>{{ Levels[data.level.difficulty] }}</h3>

  <div class="message">
    <div class="graphic">
      <!-- Image goes here --> Yay!!!
    </div>
    <div class="text">
      Well done! <br />
      Correct <br />
      Answer!
    </div>
  </div>

  <app-category-button inverted mat-dialog-close [category]="data.challenge.category" (click)="navigateToHomepage()">Back to home</app-category-button>
</app-category-dialog>
