<div class="challenge-details">
  <div class="challenge-header">
    <app-challenge-title [category]="challenge.category">
      {{ challenge.title }}
    </app-challenge-title>
  </div>
  <h4 id="top-element">{{ Categories[challenge.category] }}</h4>
  <h4>Duration: </h4>
  <p>{{ challenge.description }}</p>

  <app-form-field *ngIf="levels.length > 1" [category]="challenge.category">
    <mat-select [value]="selectedLevel" (selectionChange)="onSelectionChange($event)" aria-label="Level selector">
      <mat-option *ngFor="let option of levels" [value]="option">
        {{ Levels[option] }}
      </mat-option>
    </mat-select>
    <mat-icon class="arrow">expand_more</mat-icon>
  </app-form-field>

  <ng-container *ngIf="currentLevel">
    <app-challenge-title [category]="challenge.category">Instructions</app-challenge-title>
    <p>{{ currentLevel.instructions }}</p>

    
    <app-button
      *ngIf="currentLevel.hint"
      color="pink"
      (click)="onHint()"
      aria-label="Get hint"
    >
      Get Hint
    </app-button>
    

  </ng-container>

  <app-button
    [category]="challenge.category"
    (click)="onAnswer()"
    style="position: relative; top: 10px;"
    aria-label="Answer here"
  >
    Enter Answer
  </app-button>
  <p *ngIf="currentLevelIsCompleted">Level already completed</p>
</div>
