<mat-button-toggle-group #group="matButtonToggleGroup" multiple>
  <span class="material-icons" style="font-size: 32pt;">
      tune
  </span>
  <mat-button-toggle *ngFor='let button of buttons' 
      value={{button.value}}  
      class="{{button.colorClass}}"
      checked>
      {{button.category}}
  </mat-button-toggle>
</mat-button-toggle-group>

<google-map [center]="center" [zoom]="zoom" height="500px"
  width="100%" [options]="options">
  <map-marker *ngFor="let marker of location" [position]="marker.position"
  [label]="marker.name" [title]="marker.name">
  </map-marker>
</google-map>