@use 'src/app/variables' as *;

.mat-card {
    box-shadow: none;
    border-radius: 0;
    border-width: 3px;
    border-style: solid;
    padding: 15px;
    margin: 15px;
}

@mixin colored-card($color) {
    border-color: $color;
}

.mat-card.green {
    @include colored-card($primary-green)
}

.mat-card.blue {
    @include colored-card($primary-blue)
}

.mat-card.orange {
    @include colored-card($primary-orange)
}

.mat-card.purple {
    @include colored-card($primary-purple)
}