@use 'src/app/variables' as *;

input {
  @include typeface-body;
  font-size: inherit;
  line-height: 36px;

  box-sizing: border-box;
  width: 100%;
  margin: 0.5rem 0 1rem;
  padding: 0.5rem;

  outline: none;
  border: 3px solid $primary-black;

  &.red {
    border-color: $secondary-red;
  }

  &.profile {
    border: 2px solid tint(10%, $primary-black);
    background-color: tint(5%, $primary-black);
    border-radius: 0.5rem;
    color: tint(50%, $primary-black);

    &.error {
      border-color: tint(40%, $secondary-red);
      background-color: tint(10%, $secondary-red);
      color: tint(80%, $secondary-red);
    }
  }
}
