// Import variables
@use 'app/styles/variables' as *;
@import 'app/styles/mixins';
@import 'app/styles/select';
@import 'app/styles//button';

// Custom Theming for Angular Material
// For more information: https://material.angular.io/guide/theming
@import '~@angular/material/theming';
// Plus imports for other components in your app.

// Include the common styles for Angular Material. We include this here so that you only
// have to load a single css file for Angular Material in your app.
// Be sure that you only ever include this mixin once!
@include mat-core();

// Define the palettes for your theme using the Material Design palettes available in palette.scss
// (imported above). For each palette, you can optionally specify a default, lighter, and darker
// hue. Available color palettes: https://material.io/design/color/
$stem-explorer-ng-primary: mat-palette($mat-indigo);
$stem-explorer-ng-accent: mat-palette($mat-pink, A200, A100, A400);

// The warn palette is optional (defaults to red).
$stem-explorer-ng-warn: mat-palette($mat-red);

// Create the theme object (a Sass map containing all of the palettes).
$stem-explorer-ng-theme: mat-light-theme($stem-explorer-ng-primary, $stem-explorer-ng-accent, $stem-explorer-ng-warn);

// Include theme styles for core and each component used in your app.
// Alternatively, you can import and @include the theme mixins for each component
// that you are using.
@include angular-material-theme($stem-explorer-ng-theme);

/* You can add global styles to this file, and also import other style files */

html, body { height: 100%; }

body {
  margin: 0;
  @include typeface-body;
}
h1, h2 {
  @include typeface-heading;
}
h3, h4, h5, h6, b, strong {
  @include typeface-sub-heading;
  margin-bottom: 0.2rem;
}
h3 {
  margin-top: 0;
}
h4, p{
  margin-top: 0.5rem;
}
i, em {
  @include typeface-accent;
}

// Used for the camera pop-up
.fullscreen-dialog {
  max-width: none !important;
  max-height: none;
  width: 100vw;
  height: 100vh;

  mat-dialog-container {
    border-radius: 0;
    padding: 0;
  }
}

.mat-select-value,
.mat-select-arrow {
  color: white;
}

.mat-select,
.mat-flat-button {
  @include typeface-sub-heading;
}

.app-dialog .mat-dialog-container {
  padding-top: 0;
  padding-bottom: 0;
  border-radius: 0;
}

.app-dialog {
  position: relative;
}

.mat-toolbar {
  background-color: white;
  border-bottom: solid;
  border-color: tint(20%, $primary-black);
}

.mat-drawer-container {
  background-color: white;
}

.app-dialog .mat-dialog-content {
  max-height: none;
}