@use 'src/app/styles/variables' as *;

.mat-card {
    box-shadow:
        0 10px 20px rgba(0,0,0,0.19),
        0 6px 6px rgba(0,0,0,0.23);
    border-radius: 5px;
    border-width: 2px;
    border-style: solid;
    padding: 15px;
    margin: 15px;
}

@mixin colored-card($color) {
    border-color: $color;
}

.mat-card.green {
    @include colored-card($primary-green)
}

.mat-card.blue {
    @include colored-card($primary-blue)
}

.mat-card.orange {
    @include colored-card($primary-orange)
}

.mat-card.purple {
    @include colored-card($primary-purple)
}