<app-toolbar [drawer]="drawer"></app-toolbar>

<app-drawer #drawer>

  <div [class]="!(isMap | async) ? 'padding' : ''">
    <router-outlet></router-outlet>
  </div>
  
  <ng-container *ngIf="isMap | async; else genericFab">
    <app-fab matIcon="list" (click)="navigateToList()"></app-fab>
    <app-camera-button></app-camera-button>
  </ng-container>
  <ng-template #genericFab>
    <app-fab matIcon="location_on" (click)="navigateToMap()"></app-fab>
    <span class="fill-remaining-space"></span>
  </ng-template>

</app-drawer>
