// :host {
//   display: flex;
//   flex-direction: column;
//   height: 100%;

//   app-drawer {
//     flex: 1;
//     min-height: 0;
//   }
// }

.app-view {
  display: flex;
  height: 100%;
  flex-direction: column;
}

.padding {
  padding-bottom: 72px;
}

.full-height {
  height: 100%;
}

mat-drawer-container {
  height: 100%;
  display: block;
  overflow: hidden;
}

// :host {
//   height: 100%;
//   display: flex;
//   flex-direction: column;

//   app-map {
//     flex: 1;
//   }
// }
