<app-dialog [category]="data.challenge.category">
  <app-challenge-title [category]="data.challenge.category">
    <span *ngIf="data.dialogType === DialogType.Preview"
      class="distance" aria-label="Distance to challenge">{{ distance$ | async | largeDistance }}</span>
    {{ data.challenge?.title }}
  </app-challenge-title>

  <ng-container *ngIf="data.dialogType === DialogType.Preview">
    <h4>{{ Categories[data.challenge.category] }}</h4>
    <h4>Duration: </h4>
    <p>{{ data.location?.challengeDescription }}</p>
  
    <app-contact-info
      [category]="data.challenge.category"
      icon="location_on"
      [label]="data.location?.name"
      aria-label="Location address"
    ></app-contact-info>
    <br>
    <app-contact-info
      [link]="data.location?.link"
      [category]="data.challenge.category"
      icon="language"
      label="View Website"
      aria-label="Location website"
    ></app-contact-info>
    <br><br>
  
    <app-button
      mat-dialog-close
      [category]="data.challenge.category"
      (click)="cameraView()"
      aria-label="Start challenge"
    >
      Scan QR Code
    </app-button>
  </ng-container>

  <ng-container *ngIf="data.dialogType === DialogType.Hint">
    <h4>{{ Level[data.level?.difficulty] }}</h4>
    <p>{{ data.level?.hint }}</p>
  </ng-container>

</app-dialog>
