@use 'src/app/variables' as *;

button.mat-fab {
  background: tint(80%, $primary-black);

  position: fixed;
  bottom: $fab-padding;

  &.left {
    left: $fab-padding;
  }

  &.right {
    right: $fab-padding;
  }
}
