.toolbar {
  display: flex;
  justify-content: space-between;
  flex-direction: row;
  height: 4.5rem;

  span {
    cursor: pointer;
  }

  .photo {
    width: 24px;
    height: 24px;
    border-radius: 50%;
  }
}