<app-category-dialog [category]="data.challenge.category">
  <app-challenge-title [category]="data.challenge.category">{{data.challenge.title}}</app-challenge-title>
  <h4>{{Categories[data.challenge.category]}}</h4>
  <p>{{data.challenge.description}}</p>
  
  <app-contact-info [category]="data.challenge.category" icon="location_on" [label]="data.name"></app-contact-info>
  <br>
  <app-contact-info [link]="data.link" [category]="data.challenge.category" icon="language" label="View Website"></app-contact-info>
  <br><br>

  <app-category-button mat-dialog-close [category]="data.challenge.category" (click)="goToChallenge(data.challenge.uid)">Start Challenge</app-category-button>
</app-category-dialog>
