<div>

  <table mat-table matSort [dataSource]="dataSource" [ngClass]="{'selectable': selectable}">

    <ng-container *ngFor="let column of columns" [matColumnDef]="column.columnDef">
      <th mat-header-cell *matHeaderCellDef mat-sort-header>{{column.header}}</th>
      <td mat-cell *matCellDef="let element">
        <ng-container [ngSwitch]="column.type">
          <span *ngSwitchCase="'boolean'">
            <span *ngIf="element[column.columnDef]">
              <mat-icon>check_circle_outline</mat-icon>
            </span>
            <span *ngIf="!element[column.columnDef]">
              <mat-icon>highlight_off</mat-icon>
            </span>
          </span>
          <span *ngSwitchCase="'category'">
            {{Categories[element[column.columnDef]] || element[column.columnDef]}}
          </span>
          <span *ngSwitchCase="'url'">
            <a [href]="element[column.columnDef]" target="_blank">
              {{element[column.columnDef]}}
            </a>
          </span>
          <span *ngSwitchCase="'icon-button'">
            <button mat-icon-button (click)="column.onClick && column.onClick(element)">
              <mat-icon>{{ column.icon }}</mat-icon>
            </button>
          </span>
          <span *ngSwitchDefault>
            {{element[column.columnDef]}}
          </span>
        </ng-container>
      </td>
    </ng-container>

    <tr mat-header-row *matHeaderRowDef="displayedColumns"></tr>
    <tr mat-row *matRowDef="let row; columns: displayedColumns;"
      (click)="clickRow(row)"></tr>
    
  </table>

</div>