<ng-template #loading>
  <div class="bouncer centered"></div>
</ng-template>

<div class="challenge-details" *ngIf="challenge; else loading">

  <mat-icon class="category-icon" [svgIcon]="CategoryIcons[challenge.category]"></mat-icon>

  <div class="challenge-header">
    <app-challenge-title [category]="challenge.category">
      {{ challenge.title }}
    </app-challenge-title>
  </div>

  <h4 id="top-element">{{ Categories[challenge.category] }}</h4>
  <p>{{ challenge.description }}</p>

  <div *ngIf="challenge.challengeLevels.length > 1" class="levels-wrapper">
    <mat-select [value]="selectedLevel.difficulty" [class]="Colour[challenge.category]"
      (selectionChange)="levelChange($event)" aria-label="Select Level">
      <mat-option *ngFor="let option of challenge.challengeLevels; trackBy: trackLevel" [value]="option.difficulty">
        Level {{ option.difficulty }}
      </mat-option>
    </mat-select>
    <mat-icon class="arrow">expand_more</mat-icon>
  </div>

  <ng-container *ngIf="selectedLevel">
    <h3 [class]="Colour[challenge.category]" class="instructions-header">
      Instructions
    </h3>
    <p>{{ selectedLevel.instructions }}</p>
    <h4>Question</h4>
    <p>{{ selectedLevel.question }}</p>
  </ng-container>
  
  <h3 [class]="Colour[challenge.category] + ' center'" *ngIf="selectedLevel.complete">Awesome work! You've completed this level!</h3>

  <app-button
    [category]="challenge.category"
    (click)="enterAnswer()"
    aria-label="Answer here"
    [value]="'Enter Answer'"
  ></app-button>
  <app-button
    *ngIf="selectedLevel.hint"
    color="pink"
    (click)="getHint()"
    aria-label="Get hint"
    [value]="'Get Hint'"
  ></app-button>

</div>
