@use 'src/app/styles/variables' as *;

.challenge-details {
  padding: 20px;
  margin: 0 auto;
  max-width: 768px;
}

.category-icon {
  float: right;
  width: 4rem;
  height: 4rem;
}

.challenge-header {
  border-color: tint(10%, $primary-black);
  box-sizing: border-box;
  padding: 22px 0px 10px;
  top: 56px;
  width: 100%;
}

app-form-field {
  position: relative;
  left: 50%;
  transform: translate(-50%, 0);
  max-width: 768px;
}

.antiOverlay {
  width: 100%;
}

.challenge-details {
  padding: 20px;
  margin: 0 auto;
  max-width: 768px;
}

.top-element {
  margin-top: 15px;
}

.arrow {
  position: relative;
  float: right;
  top: -39px;
  right: 22px;
  font-size: 2rem;
  color: #fff;
}

@media only screen and (min-width: 768px) {
  .challenge-header {
    text-align: center;

    margin: 0;
    padding: 22px 4rem 10px;
  }
}

.levels-wrapper mat-select {
  border-radius: 5px;
  padding: 0;

  ::ng-deep .mat-select-trigger {
    padding: 16px;
    z-index: 1;
  }
}


.instructions-header {
  margin-top: 20px;
}

.center {
  text-align: center;
}

.back-container {
  background-color: rgba(0,0,0,0.18);
  display: block;
  top: 56px;
  left: 0;
  right: 0px;
  z-index: 10;
  height: 45px;
  cursor: pointer;

  .back-text {
    display: flex;
    margin: 0 auto;
    max-width: 768px;
    width: 100%;
    line-height: 45px;
    height: 100%;
    font-weight: 600;

    @media only screen and (max-width: 768px) {
      padding-left: 10px;
    }

    .mat-icon {
      line-height: 46px;
      padding-right: 5px;
    }
  }
}
