<google-map
  [center]="center"
  [zoom]="zoom"
  height="100%"
  width="100%"
  [options]="options"
>
  <map-marker
    *ngFor="let location of (locations | filter:this.filter)"
    #markerElem
    [position]="location.position"
    [title]="location.name"
    [options]="getMarkerOptions(location)"
    (mapClick)="onLocationClick(markerElem, location)"
  >
  </map-marker>

  <map-marker
    [position]="center"
    *ngIf="locationAccess"
    [options]="userMarkerPoint()"
  >
    
  </map-marker>

  <map-info-window></map-info-window>
</google-map>
