@import './mixins';
@import './variables';

button.green {
  @include coloured-button($primary-green)
}

button.blue {
  @include coloured-button($primary-blue)
}

button.orange {
  @include coloured-button($primary-orange)
}

button.purple {
  @include coloured-button($primary-purple)
}

button.pink {
  @include coloured-button($secondary-pink)
}

button.mat-flat-button {
  color: white;
  border-radius: 0.5rem;
  width: 100%;
  max-width: 768px !important;
  padding: 5px;
  font-weight: bold;
  text-align: center;
  margin-top: 15px;
  box-shadow: 0 10px 20px rgba(0,0,0,0.19), 0 6px 6px rgba(0,0,0,0.23) !important;

  &:disabled {
    border: none;
  }

  &.answer {
    background: white;
    margin-top: 15px;
    color: $primary-black;
    border: 3px solid $primary-black;
    font-size: 1rem;
  }
}