@use 'src/app/styles/variables' as *;

.email-register-fields {
    padding: 20px;
    margin: 0 auto;
    max-width: 768px;
}

.error-message {
    margin: 0;
    position: relative;
    top: -10px;
    left: 5px;
    color: $secondary-red;
}

.google-button {
    margin-top: 20px;
}