<div class="email-register-fields">
  
  <div class="auth-button-group">
    <button mat-raised-button class="auth-button" (click)="toLogin()">
      Back to Login
    </button>
  </div>

  <div *ngIf="!emailSent">
    <h3 class="auth-title">Reset Your Password</h3>
    
    <form [formGroup]="forgotPassword" (ngSubmit)="resetPassword()">
      <p *ngIf="errorMessage" class="error-message">{{ errorMessage }}</p>
      <input placeholder="Email" type="email" required formControlName="email">
      
      <app-button color="pink" type="submit" [disabled]="!forgotPassword.valid"
      [value]="'Reset Password'"></app-button>
    </form>
  </div>

  <div *ngIf="emailSent">
    <h3 class="email-sent-message">
      Sweet! Please check your email for the reset link.
    </h3>

    <app-button color="pink" [value]="'Go to Map'" (click)="toMap()"></app-button>
  </div>
</div>