<mat-button-toggle-group
  #group="matButtonToggleGroup"
  [value]="filter$ | async"
  multiple
>
  <span aria-label="Extra filters">
    <img src="/assets/icons/FILTER-filter.svg" alt="Filter icon">
  </span>
  <mat-button-toggle *ngFor='let button of buttons'
    [value]="button.value"
    [class]="button.colorClass"
    (change)="change(group.value)"
    aria-label="Filter by {{button.category}}"
  >
    <img class="category-icon" [src]="'/assets/icons/' + CategoryIcons[button.value]" [alt]="Categories[button.value]">
    <div class="category-text">{{ Categories[button.value] }}</div>
  </mat-button-toggle>
</mat-button-toggle-group>
