<mat-button-toggle-group
  #group="matButtonToggleGroup"
  [value]="filter"
  multiple
>
  <span aria-label="Extra filters">
    <mat-icon svgIcon="FILTER-filter"></mat-icon>
  </span>
  <mat-button-toggle *ngFor='let button of buttons'
    [value]="button.value"
    [class]="button.colorClass"
    (change)="change(group.value)"
    aria-label="Filter by {{button.category}}"
  >
    <mat-icon class="category-icon" [svgIcon]="CategoryIcons[button.value]"></mat-icon>
    <div class="category-text">{{ Categories[button.value] }}</div>
  </mat-button-toggle>
</mat-button-toggle-group>
