<h1 mat-dialog-title>Add New Content</h1>
<div mat-dialog-content>
  <!-- <div>

    <formly-form [form]="contentForm" [fields]="fields" [model]="model"></formly-form>
  </div> -->
  <div [formGroup]="form">

    <mat-form-field>
      <input matInput placeholder="Link title" formControlName="title">
    </mat-form-field>
    <mat-form-field>
      <input matInput placeholder="URL" formControlName="link">
    </mat-form-field>
  </div>
</div>
<div mat-content-actions>
  <button mat-button (click)="cancel()">Cancel</button>
  <button mat-button [mat-dialog-close]="model" (click)="saveContent()">Save</button>
</div>