@use 'src/app/styles/variables' as *;

:host {
  display: block;
  padding-bottom: 1rem;
}

:host > div {
  color: white;
  background-color: tint(80%, $primary-black);
  padding: 1rem;
}

::ng-deep .mat-select-arrow {
  visibility: hidden;
}

::ng-deep .mat-select {
  font-weight: 100;
}

@mixin coloured-field($color) {
  color: white;
  background-color: $color;
}

:host > .green {
  @include coloured-field($primary-green);
}

:host > .blue {
  @include coloured-field($primary-blue);
}

:host > .orange {
  @include coloured-field($primary-orange);
}

:host > .purple {
  @include coloured-field($primary-purple);
}

:host > .pink {
  @include coloured-field($secondary-pink);
}
