@import '../../../app/styles/variables';

app-challenge-title {
  display: block;
  margin-right: 2rem;
}

.distance {
  float: right;
  margin-left: 1rem;
}
.challengeActions {
  flex: 1;
}
.contactInfo {
  display:grid;
}
.truncate {
  white-space: nowrap;
  overflow: hidden;
  text-overflow: ellipsis;
}
.contactInfo app-contact-info {
  font-size: 14px;
}

.location-name {
  font-weight: 600;
  margin-bottom: 5px;
  &.green {
    color: $primary-green;
  }

  &.blue {
    color: $primary-blue;
  }

  &.orange {
    color: $primary-orange;
  }

  &.purple {
    color: $primary-purple;
  }
}