<app-challenge-filter></app-challenge-filter>

<div class="padding" *ngIf="locations">
  <span *ngFor="let location of locations; trackBy: trackLocations">
    <app-card
    class="challenge-card"
    *ngFor="let challenge of location.locationChallenges; trackBy: trackChallenges"
    [category]="challenge.challengeCategory"
    (click)="openInfo(location, challenge)"
    >
      <mat-icon class="category-icon" [svgIcon]="CategoryIcons[challenge.challengeCategory]"></mat-icon>
      <app-challenge-title [category]="challenge.challengeCategory">
        <!-- <span class="distance">{{ getLocationDistance(location) }}</span> -->
        {{challenge.challengeTitle}}
      </app-challenge-title>
      <h4>{{Categories[challenge.challengeCategory]}}</h4>
      <p>{{challenge.challengeDescription | truncate:50}}</p>
      <app-challenge-progress [category]="challenge.challengeCategory" [levels]="challenge.challengeLevels"></app-challenge-progress>
    </app-card>
  </span>
</div>

<div class="bouncer centered" *ngIf="!locations?.length"></div>

<app-bottom-nav leftIcon="location_on" leftRoute=""></app-bottom-nav>
